{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}  
{% load static %}

{% block content %}

<div class="container col-11 col-md-9 mx-auto px-0 my-5">
    <div class="row mx-0 border-bottom mt-3 py-3 px-0">
        {% if user_data_profile.icon %}
        <div class="col-4 col-md-2"><img class="rounded-circle w-100 back-image-fit" src="{{user_data_profile.icon.size_2.url}}" alt=""></div>
        {% else %}
        <div class="col-4 col-md-2"><div class="rounded-circle w-100 bg-dark d-flex align-items-center"><i class="fa-solid fa-user text-white mx-auto display-3"></i></div></div>
        {% endif %}
        <div class="col-8 col-md-10 mb-auto px-1 px-md-3">
            <h1 class="h3 mt-md-4 mt-2 mb-0 font-weight-bold text-dark">{{user_data_profile.name}}</h1>
            <p class="font-weight-bold mb-0 text-secondary">@{{user_data_profile.user_id}}</p>
            <p class="h6 mb-2 text-secondary font08rem">{{user_data_profile_profile.job}}</p>
            <p class="h6 mb-2 font08rem">{{user_data_profile.content}}</p>
            {% if user_data_profile.site %}
            <a href="{{user_data_profile.site}}" class="font09rem text-line-1">{{user_data_profile.site}}</a>
            {% endif %}
            <div class="row mx-0 my-2">
                {% if user_data_profile.github %}
                <a class="col-auto pl-0 pr-4 py-2" href="{{user_data_profile.github}}"><img src="{%static 'img/GitHub.png'%}" alt="" height="34" style="object-fit: cover;"></a>
                {% endif %}
                {% if user_data_profile.instagram %}
                <a class="col-auto pl-0 pr-4 py-2" href="{{user_data_profile.instagram}}"><img src="{%static 'img/Instagram.png'%}" alt="" height="34" style="object-fit: cover;"></a>
                {% endif %}
                {% if user_data_profile.youtube %}
                <a class="col-auto pl-0 pr-4 py-2" href="{{user_data_profile.youtube}}"><img src="{%static 'img/youtube.png'%}" alt="" height="34" style="object-fit: cover;"></a>
                {% endif %}
                {% if user_data_profile.twitter %}
                <a class="col-auto pl-0  py-2" href="{{user_data_profile.twitter}}"><img src="{%static 'img/twitter.png'%}" alt="" height="34" style="object-fit: cover;"></a>  
                {% endif %}
            </div>
            {% if user_data_profile.id ==  user_data.id %}
            <div class="row mx-0 my-2">
                <a class="btn bg-white font-weight-bold border py-1 font07rem col-auto mr-2" href="{% url 'profile_edit' %}">Profile Edit</a>
                <a class="btn bg-white font-weight-bold border py-1 font07rem col-auto" href="{% url 'logout' %}">Logout</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container px-0">
        <div class="row mx-0">
            {% for post in code_data %}
                <div class="col-lg-4 p-2" style="position: relative;">
                    {% if post.author.id == user_data.id %}
                    <a class="d-flex align-items-center justify-content-center setting-btn a_none" href="{% url 'edit' post.id %}">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </a>
                     {% endif %}
                    <a href="{% url 'detail' post.id %}" class="row mx-0 shadow-sm h-100 bg-white a_none">
                        <div class="col-12 px-0 "> 
                            <iframe class="w-100 d-block border-bottom" style="height: 400px;" src="{{ post.html.url }}"></iframe>
                        </div>
                        <div class="col-12 d-flex flex-column pt-2 px-3">
                            <h4 class="font-weight-bold text-dark mt-2">{{ post.title }}</h4>
                            <p class="text-secondary font09rem font-weight-bold my-1">{{ post.language }} / {{ post.category }} {% if post.cdn %}/ {{ post.cdn }}{% endif %}</p>
                            <p class="text-secondary font08rem mb-3 text-line-4">{{ post.text }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    

{% endblock %}

{% block script %}
<script>
    window.onload = function(){ 
        $(function () {
        $('.ac-child').css("display", "none");
        $('.ac-parent').on('click', function () {
            $(this).next().slideToggle();
            $('.ac-parent').not($(this)).next('.ac-child').slideUp();
        })

        $('.close-button').on('click', function () {
            $(this).parent('.ac-child').slideUp(); 
        })
        });
    };

    $(function(){
        $(".inview_re").on("inview", function (event, isInView) {
            if (isInView) {
            $(this).stop().addClass("is-show");
            } else {
            $(this).stop().removeClass("is-show");
            }
        });
    });
</script>
{% endblock %}