{% load static %}
{% load widget_tweaks %}  
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/a11y-dark.min.css">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.css' rel='stylesheet' type='text/css'/> 

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inview/1.0.0/jquery.inview.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="icon" type="image/png" href="{%static 'img/logo.svg'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{%static 'img/logo.svg'%}">
  {% block extrajs %}{% endblock %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5760060698921034" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

  {% block meta %}
  {% endblock %}
</head>
<body>
  <header>
    <nav class="navbar-expand-xl navbar-light py-0 border-bottom">
      <div class="row mx-0 p-1 nav-top bg-white">
        <a class="navbar-brand d-flex mr-auto mx-md-2 font-weight-bold" style="width: 110px;" href="/"><img class="back-image-fit h-100 w-100" src="{%static 'img/logo.svg'%}" alt=""></a>
        <div class="ml-auto" style="width: 32px; border: none; display: block;">
          <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
          </label>
          <div class="shadow-sm" id="sidebarMenu">
            <ul class="sidebarMenuInner">
                <li class="nav-item mx-1 border-bottom">
                </li>
                <li class="nav-item mx-1 border-bottom {{header_active_1}}">
                  <a class="font-weight-bold font08rem" href="/"><i class="fa-solid fa-house "></i> ホーム</a>
                </li>
                <li class="nav-item mx-1 border-bottom {{header_active_2}}">
                  <a class="font-weight-bold font08rem" href="{% url 'orverview' %}"><i class="fa-solid fa-book-open"></i> 会社概要</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
  </body>
<footer class="row py-5 px-0 mt-auto mx-0 bg-white shadow-sm overflow-hidden" id="footer">
  <div class="col-auto row mx-auto p-4">
    <img class="col-8 col-md-4 mx-auto d-inline " src="{%static 'img/logo.svg'%}" alt=""  style="fill:#fff;">
    <div class="col-12">
      <h6 class="text-center text-dark pt-2 mb-2 font-weight-bold">ELAIZA CRAFT<br><span class="font-weight-bold font08rem">elaiza-craft.com</span></h6>
      <h6 class="text-center text-muted">
        <small><small class="font-weight-bold">by RYUSEI KUNIMI</small></small>
      </h6>
    </div>
    <div class="row mx-0 my-2">
      <a class="col-3 d-flex px-0 mx-auto" href=""><img class="mx-auto" src="{%static 'img/Instagram.png'%}" alt="" height="34" style="object-fit: cover;"></a>
      <a class="col-3 d-flex px-0 mx-auto" href=""><img class="mx-auto" src="{%static 'img/twitter.png'%}" alt="" height="34" style="object-fit: cover;"></a>  
      <a class="col-3 d-flex px-0 mx-auto" href=""><img class="mx-auto" src="{%static 'img/youtube.png'%}" alt="" height="34" style="object-fit: cover;"></a>
      <a class="col-3 d-flex px-0 mx-auto" href=""><img class="mx-auto" src="{%static 'img/tiktok.jpg'%}" alt="" height="34" style="object-fit: cover;"></a>
    </div>
  </div>
</footer>
<div class="col-12 py-3 bg-dark flex-column">
  <a class="a_none text-center w-100 mb-0 pb-0 font-weight-bold" style="display: inline-block; color: #c0c0c0;" href="">
    ©︎ https://elaiza-craft.com
  </a>
</div>
<script>
  //  header
  var startPos = 0, winScrollTop = 0;
  window.addEventListener('scroll', function () {
      winScrollTop = this.scrollY;
      if (winScrollTop >= startPos) {
          if (winScrollTop >= 200) {
              document.getElementById('scrollHide').classList.add('hide');
          }
      } else {
          document.getElementById('scrollHide').classList.remove('hide');
      }
      startPos = winScrollTop;
  });
</script>
{% block script %}
{% endblock %}
</html>
