{% extends "app/blog_base.html" %}

{% load static %}
{% load widget_tweaks %}  
{% load markdown %}
{% load number %}
<!-- {% load markdown_extras %} -->

{% block content %}
<div class="flex-shrink-0" style="min-width: 200px; background-color: #f5f5f5;">

</div>
<div class="container bg-white">    
  <div class="row w-100 mx-0 px-0">
    <div class="col-md-9 mt-5 mx-auto">
          <div class="container py-2">
            <h2 class="text-dark font-weight-bold h2 mt-5 pb-2">{{ post_detail.title }}</h2>
            <h2 class="text-secondary h6 pb-2">{{ post_detail.text }}</h2>
          </div>
          <div>
              <article class="container border-top py-4 mb-4 mx-0 px-auto" id="content {{ post_detail.content_1_1}}id">
                  {{ post_detail.content_1_1|markdown|safe}}
              </article>
          </div>
    </div>
    <div class="col-md-3">

    </div>

  </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    function change_like() {
      var api_url = "{% url 'like_change' post_detail.pk %}";
      var btn = document.getElementById("like");
      var request = new XMLHttpRequest();
      function color_if () {
          if($('.favorite_action h6').hasClass('gray-like')){
              var addClass = "pink-like";
              return addClass;
          } else if ($('.favorite_action h6').hasClass('pink-like')){
              var addClass = "gray-like";
              return addClass;
          }
      }
      request.onreadystatechange = function () {
          if (request.readyState === 4 && request.status === 200) {
              var received_data = JSON.parse(request.responseText);
              btn.innerHTML =
              "<h6 class='font-weight-bold "+color_if()+"'><i class='fas fa-heart'></i> " +received_data.like+ "いいね</h6>";
          }}
      request.open("GET",api_url);
      request.send();
     }


     var moreNum = 3;
        $('.comment_list li:nth-child(n + ' + (moreNum + 1) + ')').addClass('is-hidden');
        $('.comment_list li:nth-child(n + ' + (moreNum + 1) + ') img').addClass('is-hidden');
        $('.comment_list li p:nth-child(n + ' + (moreNum + 1) + ')').addClass('is-hidden');
        $('.comment_list li:nth-child(n + ' + (moreNum + 1) + ') a').addClass('is-hidden');
        $('.comment_list li:nth-child(n + ' + (moreNum + 1) + ') div').addClass('is-hidden');
        $('.comment_list li:nth-child(n + ' + (moreNum + 1) + ') small').addClass('is-hidden');

        $('.more').on('click', function() {
        $('.comment_list li.is-hidden').slice(0, moreNum).removeClass('is-hidden');
        $('.comment_list li img.is-hidden').slice(0, moreNum).removeClass('is-hidden');
        $('.comment_list li p.is-hidden').slice(0, moreNum).removeClass('is-hidden');
        $('.comment_list li a.is-hidden').slice(0, moreNum).removeClass('is-hidden');
        $('.comment_list li div.is-hidden').slice(0, moreNum).removeClass('is-hidden');
        $('.comment_list li small.is-hidden').slice(0, moreNum).removeClass('is-hidden');
        if ($('.comment_list li.is-hidden').length == 0) {
            $('.more').fadeOut();
        }
        });
        window.onload = function(){ 
      $(function () {
      $('.ac-child').css("display", "none");
      $('.ac-parent').on('click', function () {
          $(this).next().slideToggle();
          $('.ac-parent').not($(this)).next('.ac-child').slideUp();
      })

      $('.close-button').on('click', function () {
          $(this).parent('.ac-child').slideUp(); 
      })
      });
  };

  $(function(){
      $(".inview_re").on("inview", function (event, isInView) {
          if (isInView) {
          $(this).stop().addClass("is-show");
          } else {
          $(this).stop().removeClass("is-show");
          }
      });
  });

  $(function(){
    // #で始まるアンカーをクリックした場合に処理
    $('a[href^="#"]').click(function(){
      // 移動先を50px上にずらす
      var adjust = 50;
      // スクロールの速度
      var speed = 400; // ミリ秒
      // アンカーの値取得
      var href= $(this).attr("href");
      // 移動先を取得
      var target = $(href == "#" || href == "" ? 'html' : href);
      // 移動先を調整
      var position = target.offset().top - adjust;
      // スムーススクロール
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
    });
  });
</script>
{% endblock %}

{% load static %}