{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}  
{% load static %}


{% block content %}
<div class="container col px-3 pt-3 mt-5 mb-5">
    <h3 class="font-weight-bold">Car List</h3>
    <p class="font09rem text-secondary">最新の情報をお届けしています。</p>
    <div class="row mx-0">
        {% for post in car_data %}
        <a href="{% url 'car_detail' post.id %}" class="col-auto p-2 a_none" style="aspect-ratio: 1 / 1; width: 300px;">
            <div class="shadow-sm h-100">
                <div class="back-image-fit h-100 w-100" style="background-image: url('{{ post.image.size_5.url}}');">
                    <div class="bg-dark-gr-filter h-100 w-100 d-flex align-items-center justify-content-center">
                        <div class="py-5">
                            <h5 class="font-weight-bold text-center text-white px-3 pt-1 mb-0">{{ post.name }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

</div>
    

{% endblock %}

{% block script %}
<script>
    window.onload = function(){ 
        $(function () {
        $('.ac-child').css("display", "none");
        $('.ac-parent').on('click', function () {
            $(this).next().slideToggle();
            $('.ac-parent').not($(this)).next('.ac-child').slideUp();
        })

        $('.close-button').on('click', function () {
            $(this).parent('.ac-child').slideUp(); 
        })
        });
    };

    $(function(){
        $(".inview_re").on("inview", function (event, isInView) {
            if (isInView) {
            $(this).stop().addClass("is-show");
            } else {
            $(this).stop().removeClass("is-show");
            }
        });
    });
</script>
{% endblock %}