{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}  
{% load markdown %}
{% load number %}
{% block content %}
<div class="back-image-fit row justify-content-center align-items-center mx-0 mb-5" style="background-image: url('static/img/AdobeStock_503744566.jpeg'); aspect-ratio: 7 / 3;">
    <div class="col-5 px-4">
        <img class="w-100 d-inline drop-shadow-lb" src="{%static 'img/logo.svg'%}" alt=""  style="fill:#fff;">
        <h4 class="text-dark font-weight-bold mt-4">Make your car life more enjoyable</h4>
        <h6 class="text-dark font-weight-bold mt-2">By Kunimi Ryusei</h6>
        <div class="row mx-0 mt-3">
            <a class="btn btn-light col mr-1" href="">Blog</a>
            <a class="btn btn-light col mr-1" href="">Conpany</a>
            <a class="btn btn-light col" href="">Shop</a>
        </div>

    </div>
    <div class="col-6"></div>
</div>


<!-- !TOPIC -->
<div class="container px-5">
    <h3 class="font-weight-bold">MENU</h3>
    <p class="font09rem text-secondary">最新の情報をお届けしています。</p>
    <div class="row">

        <div class="col-md-3 col-6 p-2">
            <div class="shadow-sm bg-white h-100">
                <img class="w-100 back-image-fit" style="aspect-ratio: 2 / 1;" src="{%static 'img/AdobeStock_447335386_Editorial_Use_Only.jpeg'%}" alt="">
                <div class="h-100 p-3">
                    <h6 class="text-line-2">Blog Title</h6>
                    <p class="text-line-5 font09rem text-secondary mb-0">
                        Make your car life more enjoyable
                        Make your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyable
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-2">
            <div class="shadow-sm bg-white h-100">
                <img class="w-100 back-image-fit" style="aspect-ratio: 2 / 1;" src="{%static 'img/AdobeStock_224041548.jpeg'%}" alt="">
                <div class="h-100 p-3">
                    <h6 class="text-line-2">Blog Title</h6>
                    <p class="text-line-5 font09rem text-secondary mb-0">
                        Make your car life more enjoyable
                        Make your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyable
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-2">
            <div class="shadow-sm bg-white h-100">
                <img class="w-100 back-image-fit" style="aspect-ratio: 2 / 1;" src="{%static 'img/AdobeStock_503744566.jpeg'%}" alt="">
                <div class="p-3">
                    <h6 class="text-line-2">Blog Title</h6>
                    <p class="text-line-5 font09rem text-secondary mb-0">
                        Make your car life more enjoyable
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-2">
            <div class="shadow-sm bg-white h-100">
                <img class="w-100 back-image-fit" style="aspect-ratio: 2 / 1;" src="{%static 'img/AdobeStock_447335386_Editorial_Use_Only.jpeg'%}" alt="">
                <div class="h-100 p-3">
                    <h6 class="text-line-2">Blog Title</h6>
                    <p class="text-line-5 font09rem text-secondary mb-0">
                        Make your car life more enjoyable
                        Make your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyable
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- !MENU -->
<div class="container my-4 px-5">
    <h3 class="font-weight-bold">MENU</h3>
    <p class="font09rem text-secondary">最新の情報をお届けしています。</p>
    <div class="row">
        <div class="col-md-2 col-6 p-2">
            <div style="background-color: #6fb7be;" class="img-box d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <i class="fa-solid fa-book-open text-white display-4 mt-2"></i>
                    <h6 class="font-weight-bold text-white mt-2">ブログ</h6>

                </div>
            </div>
        </div>
        <div class="col-md-2 col-6 p-2">
            <div style="background-color: #6fb7be;;" class="img-box d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <i class="fa-solid fa-shop text-white display-4 mt-2"></i>
                    <h6 class="font-weight-bold text-white mt-2">ショップ</h6>

                </div>
            </div>
        </div>
        <div class="col-md-2 col-6 p-2">
            <div style="background-color: #6fb7be;;" class="img-box d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <i class="fa-solid fa-car-side text-white display-4 mt-2"></i>
                    <h6 class="font-weight-bold text-white mt-2">車</h6>

                </div>
            </div>
        </div>
        <div class="col-md-2 col-6 p-2">
            <div style="background-color: #6fb7be;;" class="img-box d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <i class="fa-solid fa-pen-nib text-white display-4 mt-2"></i>
                    <h6 class="font-weight-bold text-white mt-2">会社概要</h6>

                </div>
            </div>
        </div>
        <div class="col-md-2 col-6 p-2">
            <div style="background-color: #6fb7be;;" class="img-box d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <i class="fa-solid fa-circle-info text-white display-4 mt-2"></i>
                    <h6 class="font-weight-bold text-white mt-2">このサイトは？</h6>

                </div>
            </div>
        </div>
        <div class="col-md-2 col-6 p-2">
            <div style="background-color: #6fb7be;;" class="img-box d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <i class="fa-solid fa-envelope text-white display-4 mt-2"></i>
                    <h6 class="font-weight-bold text-white mt-2">お問い合わせ</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- !PR -->
<div class="back-image-fit" style="background-image:url('static/img/AdobeStock_224041548.jpeg');">
    <div class="w-100 overflow-hidden p-5 mt-5" style="background-color: #007f8cc7; position: relative;">
        <div class="mx-auto p-3 my-5 container px-5" style="z-index: 5; position: relative;">
            <img class="w-100 d-block drop-shadow-lb mt-4 mx-auto" src="{%static 'img/logo-white.svg'%}" alt=""  style="max-width: 400px;">
            <div class="col-8 mx-auto">
                <p class="font-weight-bold text-white text-center mt-3">Make your car life more enjoyable</p>
                <p class="font-weight-bold text-white text-center mt-3 mb-0">
                    Make your car life more enjoyable
                    Make your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyableMake your car life more enjoyable
                </p>
                <div class="row mx-0 mt-3">
                    <a class="btn btn-outline-light col font-weight-bold mr-1" href="">Blog</a>
                    <a class="btn btn-outline-light col font-weight-bold" href="">Conpany</a>
                </div>
            </div>
        </div>
        <p class="triangle-tr absolute-box" style="background-color: #202020b1;">c</p>
        <p class="triangle-tl absolute-box"  style="background-color: #ff8c00b6;">c</p>
        <p class="triangle-br absolute-box" style="background-color: #ff8c00b6;">c</p>
        <p class="triangle-bl absolute-box"  style="background-color: #202020b1;">c</p>
    </div>
</div>
<!-- !OVERVIEW -->
<div class="p-5 overflow-hidden" style="position: relative;">
    <div class="d-block" style="z-index: 5;">
        <div class="col" style="z-index: 5;">
            <h2 class="font-weight-bold text-center">Conpany OVERVIEW</h2>
            <p class="font09rem text-secondary text-center border-bottom mb-5 pb-3">会社概要</p>
        </div>
        <div class="col-7 border-bottom mx-auto my-3" style="z-index: 5;">
            <h5 class="font-weight-bold">Conpany Name</h5>
            <p class="font09rem text-secondary">会社名</p>
            <h6 class="mt-2 mb-4 text-secondary font-weight-bold">ELAIZA CRAFT</h6>
        </div>
        <div class="col-7 border-bottom mx-auto my-3" style="z-index: 5;">
            <h5 class="font-weight-bold">Conpany Name</h5>
            <p class="font09rem text-secondary">会社名</p>
            <h6 class="mt-2 mb-4 text-secondary font-weight-bold">ELAIZA CRAFT</h6>
        </div>
        <div class="row col-7 mx-auto border-bottom" style="z-index: 5;">
            <div class="col-6 px-0 mx-auto my-3">
                <h5 class="font-weight-bold">Conpany Name</h5>
                <p class="font09rem text-secondary">会社名</p>
                <h6 class="mt-2 mb-4 text-secondary font-weight-bold">ELAIZA CRAFT</h6>
            </div>
            <div class="col-6 px-0 mx-auto my-3">
                <h5 class="font-weight-bold">Conpany Name</h5>
                <p class="font09rem text-secondary">会社名</p>
                <h6 class="mt-2 mb-4 text-secondary font-weight-bold">ELAIZA CRAFT</h6>
            </div>
        </div>
        <div class="col-7 border-bottom mx-auto my-3" style="z-index: 5;">
            <h5 class="font-weight-bold">Conpany Name</h5>
            <p class="font09rem text-secondary">会社名</p>
            <h6 class="mt-2 mb-4 text-secondary font-weight-bold">ELAIZA CRAFT</h6>
        </div>
        <div class="col-7 border-bottom mx-auto my-3" style="z-index: 5;">
            <h5 class="font-weight-bold">Conpany Name</h5>
            <p class="font09rem text-secondary">会社名</p>
            <h6 class="mt-2 mb-4 text-secondary font-weight-bold">ELAIZA CRAFT</h6>
        </div>

    </div>

    <p class="circle-box box-loop-1 absolute-box" style="background-color: #c0fdff;">c</p>
    <p class="circle-box box-loop-2 absolute-box"  style="background-color: #ffe2bf;">c</p>
    <p class="circle-box box-loop-3 absolute-box" style="background-color: #ececec;">c</p>
    <p class="circle-box box-loop-4 absolute-box"  style="background-color: #ffe2bf;">c</p>
</div>


{% endblock %}