{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}  
{% load markdown %}
{% load number %}
{% block content %}
<div class="back-image-fit" style="background-image:url('static/img/AdobeStock_224041548.jpeg');">
    <div class="w-100 overflow-hidden" style="background-color: #798c00c7; position: relative;">
        <div class="mx-auto p-3 my-5 container" style="z-index: 5; position: relative;">
            <img class="w-100 px-5 d-block drop-shadow-lb mt-4 mx-auto" src="{%static 'img/logo-white.svg'%}" alt=""  style="max-width:400px;">
            <div class="col-12 col-md-8 mx-auto">
                <p class="font-weight-bold text-white text-center mt-3">Make your car life more enjoyable</p>
                <p class="font-weight-bold text-white text-center mt-3 mb-0">

                </p>
            </div>
        </div>
        <p class="triangle-tr absolute-box" style="background-color: #202020b1;">c</p>
        <p class="triangle-tl absolute-box"  style="background-color: #ff8c00b6;">c</p>
        <p class="triangle-br absolute-box" style="background-color: #ff8c00b6;">c</p>
        <p class="triangle-bl absolute-box"  style="background-color: #202020b1;">c</p>
    </div>
</div>
<div class="container py-4 px-0">
    <h5 class="font-weight-bold text-center">Used car list<br><span class="font07rem">中古車一覧</span></h5>
    <div class="row mx-0 mb-5">
        {% for post in object_list %}
        <div class="col-12 col-md-4 px-0 py-1 bg-white" id="link-{{ post.id }}">
            <div class="row mx-0 shadow-sm">
                <div class="col-8 px-0 back-image-fit h-auto" style="background-image: url('{{ post.image.size_2.url }}');">
                    <a href="{% url 'detail' post.id %}" class="w-100 h-100 bg-dark-filter p-2 d-flex a_none">
                        <h6 class="w-100 mt-auto font-weight-bold my-1 text-white">{{ post.name }}
                            <br><img class="back-image-fit bg-white border-50 my-2" style="width: 1.5rem;" src="{{ post.car.maker.image.size_2.url }}" alt="">
                            <span class="font08rem text-white">{{ post.car.maker }}</span>
                            <br><span class="font06rem text-white">詳細を見る</span></h6>
                    </a>
                </div>
                <div class="col-4 p-2">
                    <div class="my-auto">
                        <p class="text-dark font08rem mb-1"><span class="font06rem text-secondary"><i class="fa-solid fa-car"></i> 車種</span><br>&nbsp;{{ post.car }}</p>
                        <p class="text-dark font08rem mb-1"><span class="font06rem text-secondary"><i class="fa-solid fa-clock"></i> 年式</span><br>&nbsp;{{ post.year }}</p>
                        <p class="text-dark font08rem mb-1"><span class="font06rem text-secondary"><i class="fa-solid fa-signal"></i> 走行距離</span><br>&nbsp;{{ post.distance }}</p>
                        <p class="text-dark font08rem mb-1"><span class="font06rem text-secondary"><i class="fa-solid fa-screwdriver-wrench"></i> 車検</span><br>&nbsp;{{ post.syaken }}</p>
                        <p class="text-dark font08rem mb-0"><span class="font06rem text-secondary"><i class="fa-solid fa-pen-to-square"></i> 備考</span><br>&nbsp;{{ post.biko }}</p>
                    </div>
                </div>
            </div>
        </div>    
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block script %}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
            $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
            $('.loading').hide();
            }
        });
    </script>
{% endblock %} 