{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}  
{% load markdown %}
{% load number %}
{% block content %}
<div class="back-image-fit row justify-content-center align-items-center mx-0" style="background-image: url('static/img/AdobeStock_503744566.jpeg'); aspect-ratio: 10 / 4; background-position:bottom;">
    <div class="col-5 px-4">
        <img class="w-100 d-inline drop-shadow-lb" src="{%static 'img/logo.svg'%}" alt=""  style="fill:#fff;">
    </div>
    <div class="col-6"></div>
</div> 
<!-- !OVERVIEW -->
<div class="py-5 px-2 overflow-hidden bg-white" style="position: relative;">
    <div class="container" style="z-index: 5;">
        <div class="col" style="z-index: 5;">
            <h2 class="font-weight-bold text-center">Conpany OVERVIEW</h2>
            <p class="font09rem text-secondary text-center border-bottom mb-5 pb-3">会社概要</p>
        </div>
        <div class="col-12 border-bottom mx-auto my-3" style="z-index: 5;">
            <h6 class="text-secondary font09rem">Conpany Name<br><span class="font06rem">会社名</span></h6>
            <h6 class="mt-2 mb-4 text-dark font-weight-bold">ELAIZA CRAFT</h6>
        </div>
        <div class="col-12 border-bottom mx-auto my-3" style="z-index: 5;">
            <h6 class="text-secondary font09rem">Conpany Name<br><span class="font06rem">会社名</span></h6>
            <h6 class="mt-2 mb-4 text-dark font-weight-bold">ELAIZA CRAFT</h6>
        </div>
        <div class="row col-12 mx-auto border-bottom" style="z-index: 5;">
            <div class="col-6 px-0 mx-auto my-3">
                <h6 class="text-secondary font09rem">Conpany Name<br><span class="font06rem">会社名</span></h6>
                <h6 class="mt-2 mb-4 text-dark font-weight-bold">ELAIZA CRAFT</h6>
            </div>
            <div class="col-6 px-0 mx-auto my-3">
                <h6 class="text-secondary font09rem">Conpany Name<br><span class="font06rem">会社名</span></h6>
                <h6 class="mt-2 mb-4 text-dark font-weight-bold">ELAIZA CRAFT</h6>
            </div>
        </div>
        <div class="col-12 border-bottom mx-auto my-3" style="z-index: 5;">
            <h6 class="text-secondary font09rem">Conpany Name<br><span class="font06rem">会社名</span></h6>
            <h6 class="mt-2 mb-4 text-dark font-weight-bold">ELAIZA CRAFT</h6>
        </div>
        <div class="col-12 border-bottom mx-auto my-3" style="z-index: 5;">
            <h6 class="text-secondary font09rem">Conpany Name<br><span class="font06rem">会社名</span></h6>
            <h6 class="mt-2 mb-4 text-dark font-weight-bold">ELAIZA CRAFT</h6>
        </div>

    </div>

    <p class="circle-box box-loop-1 absolute-box" style="background-color: #c0fdff;">c</p>
    <p class="circle-box box-loop-2 absolute-box"  style="background-color: #ffe2bf;">c</p>
    <p class="circle-box box-loop-3 absolute-box" style="background-color: #ececec;">c</p>
    <p class="circle-box box-loop-4 absolute-box"  style="background-color: #ffe2bf;">c</p>
</div>
{% endblock %}